.navbar {
  /* background-image: linear-gradient(to right, rgb(17, 24, 39), rgb(75, 85, 99)); */
  background-color: rgba(17, 17, 17, 0.717);
  padding: 1rem 0rem 1rem 0rem;
  box-shadow: 0px 2px 4px rgba(128, 128, 128, 0.36);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  width: 100%;
}

.navbar-brand h3 {
  font-size: 22px;
}
.navbar-brand h3 span {
  color: rgb(148, 0, 207);
  box-shadow: 0px 3px 5px 1px purple;
  font-size: 27px;
  margin-left: 5px;
  border-radius: 5px;
  padding: 3px;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 96%;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0);
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  font-size: 18px;
  line-height: 0;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family:Arial, Helvetica, sans-serif;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #555;
}

